.highlight-line {
  background: rgba(255, 251, 221);
  border-radius: 4px;
}

.current-line {
  border-radius: 4px;
}

.error-line {
  background: rgb(255, 236, 236);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-radius: 4px;

  &::after {
    content: '\\26A0';
    position: absolute;
    top: -4.5px;
    right: 4px;
    font-size: 24px;
    line-height: 24px;
    color: rgb(239, 68, 68);
  }
}

.monaco-scrollable-element > .scrollbar > .slider {
  border-radius: 4px;
}
